<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('build/images/your_lawyers_icon.a7109bc7.png') }}">
    <title>Login - BA OnBoarding - Your Lawyers Ltd</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            html,body {
                background-color: lightgray;
                background-image: url({{ asset('build/images/login-bg.9bc12d45.jpg') }});
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                font-family: 'Numans', sans-serif;
            }
            .login_container {
                height: 100%;
                align-content: center;
            }
            #login_form .card {
                padding: 20px;
                margin-top: auto;
                margin-bottom: auto;

                background-color: rgba(0,0,0,0.6) !important;
            }
            #login_form .card-header h4 {
                color: white;
            }
            #login_form .input-group-prepend span {
                width: 40px;
                background-color: #9494ca;
                color: black;
                border: 0 !important;
            }
            #login_form input:focus {
                outline: 0  !important;
                box-shadow: 0 0 0 0 !important;
            }
            #login_form .remember {color: #ffffff;}
            #login_form .remember input {
                width: 20px;
                height: 20px;
                margin-left: 15px;
                margin-right: 5px;
            }
            #login_form .login_btn {
                color: #ffffff;
                background-color: #5a7795;
                width: 100px;
            }
            #login_form .login_btn:hover {
                color: #000000;
                background-color: #ffffff;
            }
            #login_form .card-footer .links a {color: #ffffff; font-size: small;}
        </style>
    {% endblock %}
</head>
<body>
    <div class="container login_container">
        <div class="d-flex justify-content-center h-100" id="login_form">
            <div class="card">
                <div class="card-header text-center">
                    <img src="{{ asset('build/images/yl_92x75.1da10cc4.png') }}" alt="Your Lawyers Ltd">
                    <h4>Sign In</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <label for="inputEmail" class="sr-only"></label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="email" required autofocus>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <label for="inputPassword" class="sr-only"></label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
                        </div>
                        <div class="row align-items-center remember">
                            <label for="rememberMe" class="sr-only"></label>
                            <input type="checkbox" id="rememberMe" name="_remember_me">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>





