<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('build/images/your_lawyers_icon.a7109bc7.png') }}">
    <title>Set Password - BA Data Breach App - Your Lawyers Ltd</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_login') }}
    {% endblock %}
</head>
<body>
<div class="container login_container">
    <div class="d-flex justify-content-center h-100" id="login_form">
        <div class="card">
            <div class="card-header text-center">
                <img src="{{ asset('build/images/yl_92x75.1da10cc4.png') }}" alt="Your Lawyers Ltd">
                <h4>Set Your Password</h4>
            </div>
            <div class="card-body">
                {%  if token_error %}
                    <div class="alert alert-danger text-center">
                        <small>The password token you're attempting to use<br>is either invalid or out-of-date!</small>
                        <hr>
                        <small><a href="{{ path('app_forgot_password') }}">Click here to create a fresh token to continue</a></small>
                    </div>
                {% else %}
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password) }}
                            <div class="error_message">{{ form_errors(form.password) }}</div>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Reset" class="btn login_btn">
                        </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app_login') }}
{% endblock %}
</body>
</html>
