{% extends 'admin_base.html.twig' %}

{% block title %}Clients{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# DataTable StyleSheet #}
    <link href="{{ asset('html-bs4/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
    {# /DataTable StyleSheet #}
{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="dt-page__header">
        <h1 class="dt-page__title">Clients</h1>
    </div>
    {# /Page Header #}

    {# Card #}
    <div class="dt-card">
        {# Card Body #}
        <div class="dt-card__body">
            {# Table Responsive #}
            <div class="table-responsive">
                <div id="clients">Loading...</div>
            </div>
            {# /Table Responsive #}
        </div>
        {# /Card Body #}
    </div>
    {# /Card #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('html-bs4/node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('html-bs4/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#clients').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom:'<"html5buttons"B>lTfgitp',
            });
        });

    </script>
{% endblock %}



