{% extends 'admin_base.html.twig' %}

{% block title %}Client ProClaim Entries{% endblock %}

{% block body %}
    {# Page Header #}
    <div class="dt-page__header">
        <h1 class="dt-page__title">Client ProClaim Entries For {{ proclaim.client_forename }} {{ proclaim.client_surname }}</h1>
    </div>
    {# /Page Header #}

    {# Grid #}
    <div class="row dt-masonry">

        {# Grid Item #}
        <div class="col-sm-12 dt-masonry__item">

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Personal Details</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%">Title:</td>
                                <td>{{ proclaim.client_title }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">1</span> First Name:</td>
                                <td>{{ proclaim.client_forename }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">2</span> Middle Name:</td>
                                <td>{{ proclaim.client_middle_name }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">3</span> Surname:</td>
                                <td>{{ proclaim.client_surname }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">4</span> Date Of Birth:</td>
                                <td>{{ proclaim.client_date_of_birth }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">5</span> Image File:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Contact Details</h5>
                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" colspan="2"><span class="badge badge-info mb-1 mr-1">6</span> Clients Full Address Details</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase" style="width: 50%">Address:</td>
                                <td>{{ proclaim.client_address_block }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Postcode:</td>
                                <td>{{ proclaim.client_postcode }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">7</span> Email Address:</td>
                                <td>{{ proclaim.client_email }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">8</span> Mobile/Phone Number:</td>
                                <td>{{ proclaim.client_mobile_phone }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">BA Correspondence</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">9</span> Received email from BA confirming personal information has been compromised:</td>
                                <td>{{ proclaim.client_ba_confirmation_email }}</td>
                            </tr>
                            {# BREACH ONE #}
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">10</span> Received notification affected by data event occurring between 21 April 2018 – 28 July 2018:</td>
                                <td>{{ proclaim.client_breach_one_notification }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Date Received:</td>
                                <td>{{ proclaim.client_breach_one_date_received }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Copy of the notification:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Since received notification confirming not affected:</td>
                                <td>{{ proclaim.client_breach_one_notification_not_affected }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Date of Booking:</td>
                                <td>{{ proclaim.client_breach_one_date_of_booking }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Email address used for the booking related to the claim:</td>
                                <td>{{ proclaim.client_breach_one_email_address_used }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Booking Reference:</td>
                                <td>{{ proclaim.client_breach_one_booking_reference }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Platform British Airways booking made on:</td>
                                <td>{{ proclaim.client_breach_one_booking_platform }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Booking paid for using:</td>
                                <td>{{ proclaim.client_breach_one_payment_method }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Copy of booking notification:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            {# /BREACH ONE #}

                            {# BREACH TWO #}
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">11</span> Receive notification been affected by data event occurring between 10.58pm on 21 August 2018 – 9.45pm on 5 September 2018:</td>
                                <td>{{ proclaim.client_breach_two_notification }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Date Received:</td>
                                <td>{{ proclaim.client_breach_two_date_received }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Copy of the notification:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Since received notification confirming not affected:</td>
                                <td>{{ proclaim.client_breach_two_notification_not_affected }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Date of Booking:</td>
                                <td>{{ proclaim.client_breach_two_date_of_booking }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Email address used for the booking related to the claim:</td>
                                <td>{{ proclaim.client_breach_two_email_address_used }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Booking Reference:</td>
                                <td>{{ proclaim.client_breach_two_booking_reference }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Platform British Airways booking made on:</td>
                                <td>{{ proclaim.client_breach_two_booking_platform }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Booking paid for using:</td>
                                <td>{{ proclaim.client_breach_two_payment_method }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Copy of booking notification:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            {# /BREACH TWO #}
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Further Correspondence</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">12</span> Copy of the email from BA confirming that your personal information has been breached:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">13</span> Received any other correspondence from BA regarding the breach:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">14</span> Copies of all correspondence sent to and received from BA regarding the claim:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Complaints</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">15</span> Lodged formal complaint through British Airways official procedures:</td>
                                <td>{{ proclaim.client_lodged_complaint }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">When was complaint made:</td>
                                <td>{{ proclaim.client_complaint_made }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Received response to complaint:</td>
                                <td>{{ proclaim.client_received_response }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Satisfied with the response to complaint:</td>
                                <td>{{ proclaim.client_satisfied_response }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Reason why unsatisfied with complaint:</td>
                                <td>{{ proclaim.client_reason_unsatisfied }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">16</span> Contacted the Information Commissioner's Office:</td>
                                <td>{{ proclaim.client_contacted_ioc }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">17</span> Contacted Action Fraud:</td>
                                <td>{{ proclaim.client_contacted_action_fraud }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">18</span> Accessed "Get Safe Online" following the British Airways data breach:</td>
                                <td>{{ proclaim.client_accessed_get_safe_online }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Financial Loss</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">19</span> Incurred any financial loss as a result of the breach, and if so what type of financial loss:</td>
                                <td>{{ proclaim.client_financial_Loss }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">More info:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">20</span> Total amount of financial loss suffered (£):</td>
                                <td>{{ proclaim.client_total_loss_amount }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">21</span> All documents evidencing the financial loss suffered:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Reimbursements</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">22</span> Reimbursed for financial loss suffered:</td>
                                <td>{{ proclaim.client_financial_loss_suffered }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">If Yes, who provided the reimbursement:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Total amount reimbursed (£):</td>
                                <td>{{ proclaim.client_amount_reimbursed }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">All correspondence documents provided in relation to the reimbursement:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Credit Monitoring</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">23</span> Client signed up for Experian ProtectMyID or accepted any other offer sent to them by British Airways to monitor their credit:</td>
                                <td>{{ proclaim.client_monitor_credit }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Uploaded evidence of account:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

            {# Card #}
            <div class="dt-card">

                {# Card Body #}
                <div class="dt-card__body">

                    <h5 class="card-subtitle text-yellow text-uppercase">Emotional Distress</h5>

                    {# Table #}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <tbody>
                            <tr>
                                <td class="text-uppercase" style="width: 50%"><span class="badge badge-info mb-1 mr-1">24</span> Client concerned their personal details will be used fraudulently now or at some point in the future:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">25</span> Upon finding out that their personal information had been breached, did they experience any type of emotional distress:</td>
                                <td><span class="badge badge-danger">WRONG Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">More Info:</td>
                                <td>{{ proclaim.client_emotions_experienced_comment }}</td>
                            </tr>

                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">26</span> How long did the emotional distress last:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase" colspan="2"><span class="badge badge-info mb-1 mr-1">27</span> As a result of the breach has the client felt:</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Feeling nervous, anxious or on edge?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Not being able to stop or control worrying?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Worrying too much about different things?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Trouble relaxing?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Being so restless that it is hard to sit still?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Becoming easily annoyed or irritable?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr><td colspan="2"><hr></td></tr>
                            <tr>
                                <td class="text-uppercase">Feeling afraid as if something awful might happen?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Example Provided:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">28</span> Client diagnosed as suffering from the following conditions:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">More Info:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">29</span> Did finding out their personal information had been breached have an impact on clients condition?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">If symptoms got worse, please provide details:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">30</span> What, if any, steps has the client taken as a result of the breach?</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">More Info:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">31</span> In the event of any steps taken above, please describe the inconvenience that this has caused and the time taken to do so:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">32</span> All documents evidencing the steps you have taken as a result of the breach:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">33</span> Which, if any, of the following adverse consequences has the client suffered as a result of the breach?</td>
                                <td>{{ proclaim.client_adverse_consequences }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">More Info:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">34</span> Details of adverse consequences regarding the breach:</td>
                                <td>{{ proclaim.client_adverse_consequences_details }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">35</span> All documents evidencing the consequences of the breach:</td>
                                <td><span class="badge badge-danger">NO Endpoint</span></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">36</span> Any other additional information that may be of relevance:</td>
                                <td>{{ proclaim.client_additional_information }}</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase"><span class="badge badge-info mb-1 mr-1">37</span> Claimant Type:</td>
                                <td>{{ proclaim.client_lead_test_claimant }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {# /Table #}

                </div>
                {# /Card Body #}

            </div>
            {# /Card #}

        </div>
        {# /Grid Item #}

    </div>
    {# /Grid #}

{% endblock %}

