{% extends 'admin_base.html.twig' %}

{% block title %}Manual Import Clients{% endblock %}

{% block body %}

    {# Page Header #}
    <div class="dt-page__header">
        <h1 class="dt-page__title">Manual Import Clients</h1>
    </div>
    {# /Page Header #}

    {# Card #}
    <div class="dt-card">
        {# Card Body #}
        <div class="dt-card__body">

            {# Form #}
            {{ form_start(form, {'attr': {
                'id': 'admin_form',
                'novalidate': 'true'
            }}) }}

            {%  if error %}
                <div class="alert alert-danger"><small>{{ error }}</small></div>
            {% endif %}

            {# ProClaim Reference Number Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.ProClaimRefNo) }}
                    {{ form_widget(form.ProClaimRefNo) }}
                    <div class="error_message">{{ form_errors(form.ProClaimRefNo) }}</div>
                </div>
            </div>
            {# /ProClaim Reference Number Form Row #}

            {# Submit Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-outline-info btn-lg" title="click to continue...">Submit <i class="icon icon-forward"></i></button>
                </div>
            </div>
            {# /Submit Form Row #}

            {{ form_end(form) }}
            {# /Form #}

        </div>
        {# /Card Body #}
    </div>
    {# /Card #}

{% endblock %}

