{% extends 'base.html.twig' %}

{% block body %}
    <p>Claim Type Code = {{ proClaimData.claim_type_code }}</p>
    <p>Claim Type Confidential Response = {{ proClaimData.claim_type_confidential_response }}</p>
    <p>Client Title = {{ proClaimData.claim_type_client_title }}</p>
    <p>Client Forename = {{ proClaimData.claim_type_client_forename }}</p>
    <p>Client Middle Name = {{ proClaimData.claim_type_client_middle_name }}</p>
    <p>Client Surname = {{ proClaimData.claim_type_client_surname }}</p>
{% endblock %}

{% block title %}

{% endblock %}

