{% extends 'base.html.twig' %}

{% block body %}
    <p>Claim Type Code = {{ proClaimData.claim_type_code }}</p>
    <p>Claim Type Confidential Response = {{ proClaimData.claim_type_confidential_response }}</p>
    <hr>
    <h4>Personal Details</h4>
    <div class="row">
        <div class="col-md-6">
            <p>Client Title = {{ proClaimData.claim_type_client_title }}</p>
            <p>Client Forename = {{ proClaimData.claim_type_client_forename }}</p>
            <p>Client Middle Name = {{ proClaimData.claim_type_client_middle_name }}</p>
            <p>Client Surname = {{ proClaimData.claim_type_client_surname }}</p>
            <p>Client Date Of Birth = {{ proClaimData.claim_type_client_date_of_birth }}</p>
        </div>
        <div class="col-md-6">
            {% if imagePath != "article_image/" %}
                <img src="{{ uploaded_asset(imagePath)|imagine_filter('squared_thumbnail_small') }}" alt="">
            {% endif %}
        </div>
    </div>
    <hr>
    <h4>Contact Details</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Client Address = {{ proClaimData.claim_type_client_address_block }}</p>
            <p>Client PostCode = {{ proClaimData.claim_type_client_postcode }}</p>
            <p>Client Email = {{ proClaimData.claim_type_client_email }}</p>
            <p>Client Mobile/Telephone = {{ proClaimData.claim_type_client_mobile_phone }}</p>
        </div>
    </div>
    <hr>
    <h4>BA Correspondence</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Confirmation Email = {{ proClaimData.claim_type_client_ba_confirmation_email }}</p>
            <p>Breach One Notification = {# proClaimData.claim_type_breach_one_notification #} TODO</p>
            <p>Breach One Date Received = {# proClaimData.claim_type_client_breach_one_date_received #} TODO</p>
            <p>Breach One Notification Not Affected = {{ proClaimData.claim_type_client_breach_one_notification_not_affected }}</p>
            <p>Breach One Date Of Booking = {{ proClaimData.claim_type_client_breach_one_date_of_booking }}</p>
            <p>Breach One Email Address Used = {{ proClaimData.claim_type_client_breach_one_email_address_used }}</p>
            <p>Breach One Booking Reference = {{ proClaimData.claim_type_client_breach_one_booking_reference }}</p>
            <p>Breach One Booking Platform = {{ proClaimData.claim_type_client_breach_one_booking_platform }}</p>
            <p>Breach One Payment Method = {{ proClaimData.claim_type_client_breach_one_payment_method }}</p>
        </div>
    </div>
    <hr>
    <h4>Further Correspondence</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Copy Of BA Email Confirming Personal Information Breached :</p>
            <ul>
                <li>{{ fc.personalInformationBreachedFilePath }}</li>
            </ul>
            <p>Received Any Other Correspondence = {# proClaimData.claim_type_client_received_any_other_ba_correspondence #} TODO</p>
            <p>All Correspondence Sent To And Received From BA Regarding Claim :</p>
            <ul>
                {% for key, value in fc.allCorrespondenceSentReceivedFilePath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
<hr>
<h4>Complaints</h4>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

