{% extends 'base.html.twig' %}

{% block body %}
    <p>Claim Type Code = {{ proClaimData.claim_type_code }}</p>
    <p>Claim Type Confidential Response = {{ proClaimData.claim_type_confidential_response }}</p>
    <hr>
    <h4>Personal Details</h4>
    <div class="row">
        <div class="col-md-6">
            <p>Client Title = {{ proClaimData.claim_type_client_title }}</p>
            <p>Client Forename = {{ proClaimData.claim_type_client_forename }}</p>
            <p>Client Middle Name = {{ proClaimData.claim_type_client_middle_name }}</p>
            <p>Client Surname = {{ proClaimData.claim_type_client_surname }}</p>
            <p>Client Date Of Birth = {{ proClaimData.claim_type_client_date_of_birth }}</p>
        </div>
        <div class="col-md-6">
            {% if imagePath != "article_image/" %}
                <img src="{{ uploaded_asset(imagePath)|imagine_filter('squared_thumbnail_small') }}" alt="">
            {% endif %}
        </div>
    </div>
    <hr>
    <h4>Contact Details</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Client Address Block = {{ proClaimData.claim_type_client_address_block }}</p>
            <p>Client PostCode = {{ proClaimData.claim_type_client_postcode }}</p>
            <p>Client Email = {{ proClaimData.claim_type_client_email }}</p>
            <p>Client Mobile/Telephone = {{ proClaimData.claim_type_client_mobile_phone }}</p>
        </div>
    </div>
    <hr>
    <h4>BA Correspondence</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Confirmation Email = {{ proClaimData.claim_type_client_ba_confirmation_email }}</p>
            <p><strong>Breach One</strong></p>
            <p>Notification = {{  proClaimData.claim_type_breach_one_notification }}</p>
            <p>Date Received = {# proClaimData.claim_type_client_breach_one_date_received #} <span class="text-danger">TODO</span></p>
            <p>Copy Of Notification: :</p>
            <ul>
                <li>{{ ba.breachOneNotificationFilePath }}</li>
            </ul>
            <p>Notification Not Affected = {{ proClaimData.claim_type_client_breach_one_notification_not_affected }}</p>
            <p>Date Of Booking = {{ proClaimData.claim_type_client_breach_one_date_of_booking }}</p>
            <p>Email Address Used = {{ proClaimData.claim_type_client_breach_one_email_address_used }}</p>
            <p>Booking Reference = {{ proClaimData.claim_type_client_breach_one_booking_reference }}</p>
            <p>Booking Platform = {{ proClaimData.claim_type_client_breach_one_booking_platform }}</p>
            <p>Payment Method = {{ proClaimData.claim_type_client_breach_one_payment_method }}</p>
            <p>Copy Of Booking Notification: :</p>
            <ul>
                <li>{{ ba.breachOneBookingConfirmationFilePath }}</li>
            </ul>
            <p>-------------------------------------------------------------------</p>
            <p><strong>Breach Two</strong></p>
            <p>Notification = {# proClaimData.claim_type_breach_two_notification #} <span class="text-danger">TODO</span></p>
            <p>Date Received = {# proClaimData.claim_type_client_breach_two_date_received #} <span class="text-danger">TODO</span></p>
            <p>Copy Of Notification: :</p>
            <ul>
                <li>{{ ba.breachTwoNotificationFilePath }}</li>
            </ul>
            <p>Notification Not Affected = {# proClaimData.claim_type_client_breach_two_notification_not_affected #} <span class="text-danger">TODO</span></p>
            <p>Date Of Booking = {# proClaimData.claim_type_client_breach_two_date_of_booking #} <span class="text-danger">TODO</span></p>
            <p>Email Address Used = {# proClaimData.claim_type_client_breach_two_email_address_used #} <span class="text-danger">TODO</span></p>
            <p>Booking Reference = {# proClaimData.claim_type_client_breach_two_booking_reference #} <span class="text-danger">TODO</span></p>
            <p>Booking Platform = {# proClaimData.claim_type_client_breach_two_booking_platform #} <span class="text-danger">TODO</span></p>
            <p>Payment Method = {# proClaimData.claim_type_client_breach_two_payment_method #} <span class="text-danger">TODO</span></p>
            <p>Copy Of Booking Notification: :</p>
            <ul>
                <li>{{ ba.breachTwoBookingConfirmationFilePath }}</li>
            </ul>
            <p>-------------------------------------------------------------------</p>
        </div>
    </div>
    <hr>
    <h4>Further Correspondence</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Copy Of BA Email Confirming Personal Information Breached :</p>
            <ul>
                <li>{{ fc.personalInformationBreachedFilePath }}</li>
            </ul>
            <p>Received Any Other Correspondence = {# proClaimData.claim_type_client_received_any_other_ba_correspondence #} <span class="text-danger">TODO</span></p>
            <p>All Correspondence Sent To And Received From BA Regarding Claim :</p>
            <ul>
                {% for key, value in fc.allCorrespondenceSentReceivedFilePath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <h4>Complaints</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Lodged Complaint = {{ proClaimData.claim_type_client_lodged_complaint }}</p>
            <p>Complaint Made = {{ proClaimData.claim_type_client_complaint_made }}</p>
            <p>Received Response = {{ proClaimData.claim_type_client_received_response }}</p>
            <p>Satisfied Response = {{  proClaimData.claim_type_client_satisfied_response }}</p>
            <p>Reason Unsatisfied = {{  proClaimData.claim_type_client_reason_unsatisfied }}</p>
            <p>Contacted IOC = {{  proClaimData.claim_type_client_contacted_ioc }}</p>
            <p>Contacted Action Fraud = {{  proClaimData.claim_type_client_contacted_action_fraud }}</p>
            <p>Accessed Get Safe Online = {{  proClaimData.claim_type_client_accessed_get_safe_online }}</p>
        </div>
    </div>
    <hr>
    <h4>Financial Loss</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Type Financial Loss = {{ proClaimData.claim_type_client_type_financial_Loss }}</p>
            <p>Total Loss Amount = {{ proClaimData.claim_type_client_type_total_loss_amount }}</p>
            <p>All Documents Uploaded Evidencing Financial Loss Suffered:</p>
            <ul>
                {% for key, value in fl.financialLossFilesPath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <h4>Reimbursements</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Financial Loss Suffered = {{ proClaimData.claim_type_client_type_financial_loss_suffered }}</p>
            <p>Provider = {# proClaimData.claim_type_client_type_provider #} <span class="text-danger">TODO</span></p>
            <p>Amount Reimbursed = {{ proClaimData.claim_type_client_type_amount_reimbursed }}</p>
            <p>All Correspondence Uploaded in Relation To Reimbursements:</p>
            <ul>
                {% for key, value in re.reimbursementFilesPath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <h4>Credit Monitoring</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Monitor Credit = {{ proClaimData.claim_type_client_type_monitor_credit }}</p>
            <p>Uploaded Evidence Of Account:</p>
            <ul>
                <li>{{ cm.monitorCreditFilePath }}</li>
            </ul>
        </div>
    </div>
    <hr>
    <h4>Emotional Distress</h4>
    <div class="row">
        <div class="col-md-12">
            <p>Personal Details = {# proClaimData.claim_type_client_type_personal_details #} <span class="text-danger">TODO</span></p>
            <p>Emotions Experienced = {# proClaimData.claim_type_client_type_emotions_experienced_new #} <span class="text-danger">TODO</span></p>
            <p>Emotions Experienced Comment = {{  proClaimData.claim_type_client_type_emotions_experienced_comment }} </p>
            <p>Emotional Distress Lasted = {# proClaimData.claim_type_client_type_emotional_distress_lasted #} <span class="text-danger">TODO</span></p>
            <p>Breach Question A = {# proClaimData.claim_type_client_type_breach_question_a #} <span class="text-danger">TODO</span></p>
            <p>Breach Question A Example = {# proClaimData.claim_type_client_type_breach_question_a_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question B = {# proClaimData.claim_type_client_type_breach_question_b #} <span class="text-danger">TODO</span></p>
            <p>Breach Question B Example = {# proClaimData.claim_type_client_type_breach_question_b_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question C = {# proClaimData.claim_type_client_type_breach_question_c #} <span class="text-danger">TODO</span></p>
            <p>Breach Question C Example = {# proClaimData.claim_type_client_type_breach_question_c_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question D = {# proClaimData.claim_type_client_type_breach_question_d #} <span class="text-danger">TODO</span></p>
            <p>Breach Question D Example = {# proClaimData.claim_type_client_type_breach_question_d_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question E = {# proClaimData.claim_type_client_type_breach_question_e #} <span class="text-danger">TODO</span></p>
            <p>Breach Question E Example = {# proClaimData.claim_type_client_type_breach_question_e_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question F = {# proClaimData.claim_type_client_type_breach_question_f #} <span class="text-danger">TODO</span></p>
            <p>Breach Question F Example = {# proClaimData.claim_type_client_type_breach_question_f_example #} <span class="text-danger">TODO</span></p>
            <p>Breach Question G = {# proClaimData.claim_type_client_type_breach_question_g #} <span class="text-danger">TODO</span></p>
            <p>Breach Question G Example = {# proClaimData.claim_type_client_type_breach_question_g_example #} <span class="text-danger">TODO</span></p>
            <p>Diagnosed Conditions = {# proClaimData.claim_type_client_type_diagnosed_conditions #} <span class="text-danger">TODO</span></p>
            <p>Diagnosed Conditions More Info Example = {# proClaimData.claim_type_client_type_diagnosed_conditions_example #} <span class="text-danger">TODO</span></p>
            <p>Impact Condition = {# proClaimData.claim_type_client_type_impact_condition #} <span class="text-danger">TODO</span></p>
            <p>Impact Condition More Info Example = {# proClaimData.claim_type_client_type_impact_condition_example #} <span class="text-danger">TODO</span></p>
            <p>Steps Taken = {# proClaimData.claim_type_client_type_steps_taken #} <span class="text-danger">TODO</span></p>
            <p>Steps Taken More Info Example = {# proClaimData.claim_type_client_type_steps_taken_example #} <span class="text-danger">TODO</span></p>
            <p>Steps Taken Details = {# proClaimData.claim_type_client_type_steps_taken_details #} <span class="text-danger">TODO</span></p>
            <p>If you have any documents evidencing the steps you have taken as a result of the breach, please upload these. Please Note: any personal information that you would prefer not to disclose (such as account numbers) can be blanked out before uploading :</p>
            <ul>
                {% for key, value in ed.stepsTakenFilesPath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
            <p>Adverse Consequences = {{  proClaimData.claim_type_client_type_adverse_consequences }}</p>
            <p>Adverse Consequences More Info Example = {# proClaimData.claim_type_client_type_adverse_consequences_example #} <span class="text-danger">TODO</span></p>
            <p>Adverse Consequences Details = {{  proClaimData.claim_type_client_type_adverse_consequences_details }}</p>
            <p>If you have any documents evidencing the consequences of the breach, please upload these. Please Note: any personal information that you would prefer not to disclose (such as account numbers) can be blanked out before uploading :</p>
            <ul>
                {% for key, value in ed.adverseConsequencesFilesPath %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
            <p>Additional Information = {{  proClaimData.claim_type_client_type_additional_information }}</p>
            <p>Claimant Type = {{  proClaimData.claim_type_client_type_lead_test_claimant }}</p>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

