{# Header Container #}
<header class="dt-header">

    {# Brand Container #}
    <div class="dt-header__container">

        {# Brand #}
        <div class="dt-brand">

            {# Brand Tool #}
            <div class="dt-brand__tool" data-toggle="main-sidebar">
                <i class="icon icon-xl icon-menu-fold d-none d-lg-inline-block"></i>
                <i class="icon icon-xl icon-menu d-lg-none"></i>
            </div>
            {# /Brand Tool #}

            {# Brand Logo - TODO fix not working properly #}
            <span class="dt-brand__logo">
                <a class="dt-brand__logo-link" href="{{ path('app_dashboard') }}">
                    <img class="dt-brand__logo-img d-none d-lg-inline-block" src="{{ asset('build/images/your_lawyers_small_logo.b0f6d56e.png') }}" alt="Your Lawyers">
                    <img class="dt-brand__logo-symbol d-lg-none" src="{{ asset('build/images/yl_36x36.a46e64e2.png') }}" alt="Your Lawyers">
                </a>
            </span>
            {# /Brand Logo #}

        </div>
        {# /Brand #}

        {# Header ToolBar #}
        <div class="dt-header__toolbar">

            {# Header Navigation Wrapper #}
            <div class="dt-nav-wrapper">



                {# Logout #}
                <ul class="dt-nav">
                    <form class="form-inline d-none d-lg-block">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary mt-5 mr-2"><span>Logout</span></a>
                    </form>
                </ul>
                {# /Logout #}

                <!-- Header Menu -->
                <ul class="dt-nav d-lg-none">
                    <li class="dt-nav__item dropdown">

                        <!-- Dropdown Link -->
                        <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="dt-avatar size-40" src="{{ asset('html-bs4/default/assets/images/user.png') }}" alt="{{ app.user.firstName }}">
                        </a>
                        <!-- /dropdown link -->

                        <!-- Dropdown Option -->
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dt-avatar-wrapper flex-nowrap p-6 mt--5 bg-gradient-purple text-white rounded-top">
                                <img class="dt-avatar" src="{{ asset('html-bs4/default/assets/images/user.png') }}" alt="{{ app.user.firstName }}">
                                <span class="dt-avatar-info">
                                    <span class="dt-avatar-name">{{ app.user.firstName }}</span>
                                </span>
                            </div>
                            <a class="dropdown-item" href="javascript:void(0)"> <i class="icon icon-user-o icon-fw mr-2 mr-sm-1"></i>Account</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"> <i class="icon icon-edit icon-fw mr-2 mr-sm-1"></i>Logout
                            </a>
                        </div>
                        <!-- /dropdown option -->

                    </li>
                </ul>
                <!-- /header menu -->

            </div>
            {# /Header Navigation Wrapper #}

        </div>
        {# /Header ToolBar #}

    </div>
    {# /Brand Container #}

</header>
{# /Header #}
