<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="{{ path('app_dashboard') }}">
            <div class="logo-img">
                <img src="{{ asset('build/images/yl_36x36.a46e64e2.png') }}" class="header-brand-img" alt="Your Lawyers Ltd">
            </div>
            <span class="text"> Your Lawyers</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>

    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">
                    Welcome {{ app.user.firstName }}
                </div>
                <div class="nav-item{% if app.request.pathinfo == '/dashboard' %} active{% endif %}">
                    <a href="{{ path('app_dashboard') }}"><i class="ik ik-home"></i><span>Dashboard Home</span></a>
                </div>
                {% if app.user.appStarted or app.request.pathinfo == '/dashboard/personal-details' %}
                    <div class="nav-item{% if app.request.pathinfo == '/dashboard/personal-details' %} active{% endif %}">
                        <a href="{{ path('app_personal_details') }}"><i class="ik ik-user"></i><span>Personal Details</span></a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a class="disabled"><i class="ik ik-user"></i><span>Personal Details</span></a>
                    </div>
                {% endif %}
                {% if app.user.appPersonalDetails or app.request.pathinfo == '/dashboard/contact-details' %}
                    <div class="nav-item{% if app.request.pathinfo == '/dashboard/contact-details' %} active{% endif %}">
                        <a href="{{ path('app_contact_details') }}"><i class="ik ik-edit"></i><span>Contact Details</span></a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a class="disabled"><i class="ik ik-edit"></i><span>Contact Details</span></a>
                    </div>
                {% endif %}
                {% if app.user.appContactDetails or app.request.pathinfo == '/dashboard/ba-correspondence' %}
                    <div class="nav-item{% if app.request.pathinfo == '/dashboard/ba-correspondence' %} active{% endif %}">
                        <a href="{{ path('app_ba_correspondence') }}"><i class="ik ik-navigation"></i><span>BA Correspondence</span></a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a class="disabled"><i class="ik ik-navigation"></i><span>BA Correspondence</span></a>
                    </div>
                {% endif %}
            </nav>
        </div>
    </div>

</div>