<!DOCTYPE html>
<html lang="en">
<head>
    {# Meta Tags #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# /Meta Tags #}
    <title>{% block title %}{% endblock %} - BA Data Breach App - Your Lawyers Ltd</title>
    <link rel="shortcut icon" href="{{ asset('build/images/your_lawyers_icon.a7109bc7.png') }}" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_admin') }}
    {% endblock %}
</head>

<body class="dt-sidebar--fixed dt-header--fixed">

    {# Loader #}
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    {# /Loader #}

    {# Root #}
    <div class="dt-root">

        {# Load Admin Header #}
        {{ include('blocks/_admin_header.html.twig') }}
        {# /Load Admin Header #}

        {# Start Main #}
        <main class="dt-main">

            {# Load Admin SideBar #}
            {{ include('blocks/_admin_sidebar.html.twig') }}
            {# /Load Admin SideBar #}

            {# Content Wrapper #}
            <div class="dt-content-wrapper">

                {# Content #}
                <div class="dt-content">
                    {% block body %}{% endblock %}
                </div>
                {# /Content #}

                {# Load Footer #}
                {{ include('blocks/admin_footer.html.twig') }}
                {# /Load Footer #}

            </div>
            {# /Content Wrapper #}

        </main>
        {# /Main #}

    </div>
    {# /Root #}

    {% block javascripts %}
        {{ encore_entry_script_tags('app_admin') }}
    {% endblock %}

</body>
</html>
