<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="{{ asset('build/images/your_lawyers_icon.a7109bc7.png') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/ionicons/dist/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/icon-kit/dist/css/iconkit.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/form.css') }}">
        {% endblock %}
        <script src="{{ asset('src/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <div class="wrapper">
            {{ include('blocks/_header.html.twig') }}
            <div class="page-wrap">
                {{ include('blocks/_sidebar.html.twig') }}
                <div class="main-content">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                {{ include('blocks/_footer.html.twig') }}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('src/js/vendor/jquery-3.3.1.min.js') }}"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('src/js/vendor/jquery-3.3.1.min.js') }}"><\/script>')</script>
            <script src="{{ asset('plugins/popper.js/dist/umd/popper.min.js') }}"></script>
            <script src="{{ asset('plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js') }}"></script>
            <script src="{{ asset('plugins/screenfull/dist/screenfull.js') }}"></script>
            <script src="{{ asset('dist/js/theme.min.js') }}"></script>
            <script src="{{ asset('js/form-components.js') }}"></script>
        {% endblock %}
    </body>
</html>
