{% extends 'base.html.twig' %}

{% block title %}{{ header_text }} - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}
    {{ include('blocks/title_breadcrumb.html.twig') }}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}
                    <div class="form-group mb-30">
                        {{ form_label(form.receivedConfirmationEmail)}}
                        {{ form_widget(form.receivedConfirmationEmail) }}
                        <div class="error_message">{{ form_errors(form.receivedConfirmationEmail) }}</div>
                    </div>
                    <div class="form-group mb-30">
                        {{ form_label(form.breachOneNotification)}}
                        {{ form_widget(form.breachOneNotification) }}
                        <div class="error_message">{{ form_errors(form.breachOneNotification) }}</div>
                    </div>
                    {# BEGIN BREACH ONE BLOCK#}
                    <div id="breach_one_block"{% if form.vars.data.breachOneNotification != 'YES' %} class="display_none"{% endif %}>
                        <div class="col-sm-12">
                            <div class="block_body">
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneDateReceived)}}
                                    {{ form_widget(form.breachOneDateReceived) }}
                                    <div class="error_message">{{ form_errors(form.breachOneDateReceived) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneNotificationFile)}}
                                    {{ form_widget(form.breachOneNotificationFile) }}
                                    <div class="error_message">{{ form_errors(form.breachOneNotificationFile) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneNotificationNotAffected)}}
                                    {{ form_widget(form.breachOneNotificationNotAffected) }}
                                    <div class="error_message">{{ form_errors(form.breachOneNotificationNotAffected) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneDateOfBooking)}}
                                    {{ form_widget(form.breachOneDateOfBooking) }}
                                    <div class="error_message">{{ form_errors(form.breachOneDateOfBooking) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneEmailAddressUsed)}}
                                    {{ form_widget(form.breachOneEmailAddressUsed) }}
                                    <div class="error_message">{{ form_errors(form.breachOneEmailAddressUsed) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneBookingReference)}}
                                    {{ form_widget(form.breachOneBookingReference) }}
                                    <div class="error_message">{{ form_errors(form.breachOneBookingReference) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneBookingPlatform)}}
                                    {{ form_widget(form.breachOneBookingPlatform) }}
                                    <div class="error_message">{{ form_errors(form.breachOneBookingPlatform) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOnePaymentMethod)}}
                                    {{ form_widget(form.breachOnePaymentMethod) }}
                                    <div class="error_message">{{ form_errors(form.breachOnePaymentMethod) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachOneBookingConfirmationFile)}}
                                    {{ form_widget(form.breachOneBookingConfirmationFile) }}
                                    <div class="error_message">{{ form_errors(form.breachOneBookingConfirmationFile) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END BREACH ONE BLOCK #}
                    <div class="form-group mb-30">
                        {{ form_label(form.breachTwoNotification)}}
                        {{ form_widget(form.breachTwoNotification) }}
                        <div class="error_message">{{ form_errors(form.breachTwoNotification) }}</div>
                    </div>
                    {# START BREACH TWO BLOCK #}
                    <div id="breach_two_block"{% if form.vars.data.breachTwoNotification != 'YES' %} class="display_none"{% endif %}>
                        <div class="col-sm-12">
                            <div class="block_body">
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoDateReceived)}}
                                    {{ form_widget(form.breachTwoDateReceived) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoDateReceived) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoNotificationFile)}}
                                    {{ form_widget(form.breachTwoNotificationFile) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoNotificationFile) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoNotificationNotAffected)}}
                                    {{ form_widget(form.breachTwoNotificationNotAffected) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoNotificationNotAffected) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoDateOfBooking)}}
                                    {{ form_widget(form.breachTwoDateOfBooking) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoDateOfBooking) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoEmailAddressUsed)}}
                                    {{ form_widget(form.breachTwoEmailAddressUsed) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoEmailAddressUsed) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoBookingReference)}}
                                    {{ form_widget(form.breachTwoBookingReference) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoBookingReference) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoBookingPlatform)}}
                                    {{ form_widget(form.breachTwoBookingPlatform) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoBookingPlatform) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoPaymentMethod)}}
                                    {{ form_widget(form.breachTwoPaymentMethod) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoPaymentMethod) }}</div>
                                </div>
                                <div class="form-group mb-30">
                                    {{ form_label(form.breachTwoBookingConfirmationFile)}}
                                    {{ form_widget(form.breachTwoBookingConfirmationFile) }}
                                    <div class="error_message">{{ form_errors(form.breachTwoBookingConfirmationFile) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END BREACH TWO BLOCK #}
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-2 p5">Submit &amp; Continue <i class="ik ik-chevrons-right"></i></button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

