{% extends 'base.html.twig' %}

{% block title %}{{ header_text }}{% endblock %}

{% block body %}

    {# Grid #}
    <div class="col-12">
        {# Page Header #}
        <div class="dt-page__header">
            <h1 class="dt-page__title">{{ header_text }}</h1>
            <span>The British Airways OnBoarding App.</span>
        </div>
        {# /Page Header #}
    </div>
    {# /Grid #}

    {% for message in app.session.flashBag.get('page_success') %}
        <div class="dt-card__body">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Terrific!</strong> You completed the Further Correspondence section. Let's keep going...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}

    {# Grid #}
    <div class="col-12">
        <div class="progress mb-5">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                 aria-valuemax="100">50%
            </div>
        </div>
    </div>
    {# /Grid #}

    {# Grid #}
    <div class="col-12">
        {# Card #}
        <div class="dt-card">

            {{ form_start(form, {'attr': {'id': 'ba_form'}}) }}

            {# Lodged Complaint Form Row #}
            <div class="form-row">
                {# Grid Item #}
                <div class="col-md-12 col-sm-12">
                    {# Card #}
                    <div class="dt-card">
                        {# Card Header #}
                        <div class="dt-card__header">
                            <h4><span class="text-danger">*</span>15. Have you lodged a formal complaint through British Airways official procedures?</h4>
                        </div>
                        {# /Card Header #}
                        {# Card Body #}
                        <div class="dt-card__body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    {{ form_widget(form.lodgedComplaint) }}
                                    <div class="error_message">{{ form_errors(form.lodgedComplaint) }}</div>
                                </div>
                            </div>

                            {# COMPLAINT BLOCK #}
                            <div id="complaint_block"{% if form.vars.data.lodgedComplaint != 'YES' %} class="display_none"{% endif %}>

                                <div class="block_body mt-5">

                                    {# Complaint Made Form Row #}
                                    <div class="form-row">
                                        {# Grid Item #}
                                        <div class="col-md-12 col-sm-12">
                                            {# Card #}
                                            <div class="dt-card">
                                                {# Card Header #}
                                                <div class="dt-card__header">
                                                    <h4>When was the complaint made?</h4>
                                                </div>
                                                {# /Card Header #}
                                                {# Card Body #}
                                                <div class="dt-card__body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            {{ form_widget(form.complaintMade) }}
                                                            <div class="error_message">{{ form_errors(form.complaintMade) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {# /Card Body #}
                                            </div>
                                            {# /Card #}
                                        </div>
                                        {# /Grid Item #}
                                    </div>
                                    {# /Complaint Made Form Row #}

                                    {# Received Response Form Row #}
                                    <div class="form-row">
                                        {# Grid Item #}
                                        <div class="col-md-12 col-sm-12">
                                            {# Card #}
                                            <div class="dt-card">
                                                {# Card Header #}
                                                <div class="dt-card__header">
                                                    <h4>Have you received a response to your complaint?</h4>
                                                </div>
                                                {# /Card Header #}
                                                {# Card Body #}
                                                <div class="dt-card__body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            {{ form_widget(form.receivedResponse) }}
                                                            <div class="error_message">{{ form_errors(form.receivedResponse) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {# /Card Body #}
                                            </div>
                                            {# /Card #}
                                        </div>
                                        {# /Grid Item #}
                                    </div>
                                    {# /Received Response Form Row #}

                                    {# RECEIVED RESPONSE BLOCK #}
                                    <div id="complaint_satisfied_response_block"{% if form.vars.data.receivedResponse is null or form.vars.data.receivedResponse == 'Yes' %} class="display_none"{% endif %}>
                                        {# Satisfied Response Form Row #}
                                        <div class="form-row">
                                            {# Grid Item #}
                                            <div class="col-md-12 col-sm-12">
                                                {# Card #}
                                                <div class="dt-card">
                                                    {# Card Header #}
                                                    <div class="dt-card__header">
                                                        <h4>Are you satisfied with the response to your complaint?</h4>
                                                    </div>
                                                    {# /Card Header #}
                                                    {# Card Body #}
                                                    <div class="dt-card__body">
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12">
                                                                {{ form_widget(form.satisfiedResponse) }}
                                                                <div class="error_message">{{ form_errors(form.satisfiedResponse) }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {# /Card Body #}
                                                </div>
                                                {# /Card #}
                                            </div>
                                            {# /Grid Item #}
                                        </div>
                                        {# /Satisfied Response Form Row #}
                                    </div>
                                    {# /RECEIVED RESPONSE BLOCK #}

                                    {# UNSATISFIED RESPONSE BLOCK #}
                                    <div id="complaint_reason_unsatisfied_block"{% if form.vars.data.reasonUnsatisfied is null or form.vars.data.satisfiedResponse == 'Yes' %} class="display_none"{% endif %}>

                                        {# Unsatisfied Response Form Row #}
                                        <div class="form-row">
                                            {# Grid Item #}
                                            <div class="col-md-12 col-sm-12">
                                                {# Card #}
                                                <div class="dt-card">
                                                    {# Card Header #}
                                                    <div class="dt-card__header">
                                                        <h4>If you are unsatisfied with your complaint, please explain your reasons for this:</h4>
                                                    </div>
                                                    {# /Card Header #}
                                                    {# Card Body #}
                                                    <div class="dt-card__body">
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12">
                                                                {{ form_widget(form.reasonUnsatisfied) }}
                                                                <div class="error_message">{{ form_errors(form.reasonUnsatisfied) }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {# /Card Body #}
                                                </div>
                                                {# /Card #}
                                            </div>
                                            {# /Grid Item #}
                                        </div>
                                        {# /Unsatisfied Response Form Row #}
                                    </div>
                                    {# /UNSATISFIED RESPONSE BLOCK #}
                                </div>
                            </div>
                            {# /COMPLAINT BLOCK #}

                        </div>
                        {# /Card Body #}
                    </div>
                    {# /Card #}
                </div>
                {# /Grid Item #}
            </div>
            {# /Lodged Complaint Form Row #}

            {# Contacted ICO Form Row #}
            <div class="form-row">
                {# Grid Item #}
                <div class="col-md-12 col-sm-12">
                    {# Card #}
                    <div class="dt-card">
                        {# Card Header #}
                        <div class="dt-card__header">
                            <h4><span class="text-danger">*</span>16. Have you contacted the Information Commissioner's Office about the British Airways data breach?</h4>
                        </div>
                        {# /Card Header #}
                        {# Card Body #}
                        <div class="dt-card__body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    {{ form_widget(form.contactedIOC) }}
                                    <div class="error_message">{{ form_errors(form.contactedIOC) }}</div>
                                </div>
                            </div>
                        </div>
                        {# /Card Body #}
                    </div>
                    {# /Card #}
                </div>
                {# /Grid Item #}
            </div>
            {# /Contacted ICO Form Row #}

            {# Contacted Action Fraud Form Row #}
            <div class="form-row">
                {# Grid Item #}
                <div class="col-md-12 col-sm-12">
                    {# Card #}
                    <div class="dt-card">
                        {# Card Header #}
                        <div class="dt-card__header">
                            <h4><span class="text-danger">*</span>17. Have you contacted Action Fraud about the British Airways data breach?</h4>
                        </div>
                        {# /Card Header #}
                        {# Card Body #}
                        <div class="dt-card__body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    {{ form_widget(form.contactedActionFraud) }}
                                    <div class="error_message">{{ form_errors(form.contactedActionFraud) }}</div>
                                </div>
                            </div>
                        </div>
                        {# /Card Body #}
                    </div>
                    {# /Card #}
                </div>
                {# /Grid Item #}
            </div>
            {# /Contacted Action Fraud Form Row #}

            {# Contacted Get Safe Online Form Row #}
            <div class="form-row">
                {# Grid Item #}
                <div class="col-md-12 col-sm-12">
                    {# Card #}
                    <div class="dt-card">
                        {# Card Header #}
                        <div class="dt-card__header">
                            <h4><span class="text-danger">*</span>18. Have you accessed "Get Safe Online" following the British Airways data breach?</h4>
                        </div>
                        {# /Card Header #}
                        {# Card Body #}
                        <div class="dt-card__body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    {{ form_widget(form.accessedGetSafeOnline) }}
                                    <div class="error_message">{{ form_errors(form.accessedGetSafeOnline) }}</div>
                                </div>
                            </div>
                        </div>
                        {# /Card Body #}
                    </div>
                    {# /Card #}
                </div>
                {# /Grid Item #}
            </div>
            {# /Contacted Get Safe Online Form Row #}

            {# Submit Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-outline-info btn-lg" title="continue to the next stage...">Submit &amp; Continue <i class="icon icon-forward"></i></button>
                </div>
            </div>
            {# /Submit Form Row #}

            {{ form_end(form) }}

        </div>
        {# /Card #}
    </div>
    {# /Grid #}

{% endblock %}
