{% extends 'base.html.twig' %}

{% block title %}{{ header_text }} - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}
    {{ include('blocks/title_breadcrumb.html.twig') }}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}
                    <div class="form-group mb-3">
                        <label>6. Please provide your full address</label>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.houseNameNumber)}}
                            {{ form_widget(form.houseNameNumber) }}
                            <div class="error_message">{{ form_errors(form.houseNameNumber) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.streetAddress)}}
                            {{ form_widget(form.streetAddress) }}
                            <div class="error_message">{{ form_errors(form.streetAddress) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.streetAddress2)}}
                            {{ form_widget(form.streetAddress2) }}
                            <div class="error_message">{{ form_errors(form.streetAddress2) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.townCity)}}
                            {{ form_widget(form.townCity) }}
                            <div class="error_message">{{ form_errors(form.townCity) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.county)}}
                            {{ form_widget(form.county) }}
                            <div class="error_message">{{ form_errors(form.county) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <div class="embed_left">
                            {{ form_label(form.postcode)}}
                            {{ form_widget(form.postcode) }}
                            <div class="error_message">{{ form_errors(form.postcode) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        {{ form_label(form.emailAddress)}}
                        {{ form_widget(form.emailAddress) }}
                        <div class="error_message">{{ form_errors(form.emailAddress) }}</div>
                    </div>
                    <div class="form-group mb-30">
                        {{ form_label(form.mobileTelephoneNumber)}}
                        {{ form_widget(form.mobileTelephoneNumber) }}
                        <div class="error_message">{{ form_errors(form.mobileTelephoneNumber) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-2 p5">Submit &amp; Continue <i class="ik ik-chevrons-right"></i></button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}