{% extends 'base.html.twig' %}

{% block title %}{{ header_text }}{% endblock %}

{% block body %}

    {# Grid #}
    <div class="col-12">
        {# Page Header #}
        <div class="dt-page__header">
            <h1 class="dt-page__title">{{ header_text }}</h1>
            <span>The British Airways OnBoarding App.</span>
        </div>
        {# /Page Header #}
    </div>
    {# /Grid #}

    {% for message in app.session.flashBag.get('page_success') %}
        <div class="dt-card__body">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Splendid!</strong> You completed the Credit Monitoring section. Nearly finished...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}

    {# Grid #}
    <div class="col-12">
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100">Step 9 of 10
            </div>
        </div>
    </div>
    {# /Grid #}

    {# Grid #}
    <div class="col-12">
        {# Card #}
        <div class="dt-card">

            {{ form_start(form, {'attr': {
                'id': 'ba_form'
            }}) }}

            {# Concerned Personal Details Shared Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.personalDetails) }}
                    {{ form_widget(form.personalDetails) }}
                    <div class="error_message">{{ form_errors(form.personalDetails) }}</div>
                </div>
            </div>
            {# /Concerned Personal Details Shared Form Row #}

            <hr class="border-dashed my-8">

            {# Emotions Experienced Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.emotionsExperiencedNew) }}
                </div>
                <div class="form-group col-md-12">
                    {% for Emotions in form.emotionsExperiencedNew %}
                        <div class="custom-control custom-checkbox emotions mb-3 ml-5">
                            {{ form_widget(Emotions, {
                                attr: {
                                    'class': 'custom-control-input'
                                }
                            }) }} <label class="custom-control-label" for="{{ Emotions.vars.id }}">{{ Emotions.vars.label }}</label>
                        </div>
                    {% endfor %}
                    <div class="error_message">{{ form_errors(form.emotionsExperiencedNew) }}</div>
                </div>
            </div>
            {# /Emotions Experienced Form Row #}

            {# EMOTIONS EXPERIENCED BLOCK #}
            <div id="emotions_experienced_block" class="display_none">

                {# Emotions Experienced Comment Form Row #}
                <div class="form-row">
                    <div class="form-group col-md-11 ml-5">
                        {{ form_label(form.emotionsExperiencedComment) }}
                        {{ form_widget(form.emotionsExperiencedComment) }}
                        <div class="error_message">{{ form_errors(form.emotionsExperiencedComment) }}</div>
                    </div>
                </div>
                {# /Emotions Experienced Comment Form Row #}

            </div>
            {# /EMOTIONS EXPERIENCED BLOCK #}

            <hr class="border-dashed my-8">


            {# Emotional Distress Lasted Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.emotionalDistressLasted) }}
                    {{ form_widget(form.emotionalDistressLasted) }}
                    <div class="error_message">{{ form_errors(form.emotionalDistressLasted) }}</div>
                </div>
            </div>
            {# /Emotional Distress Lasted Form Row #}

            <hr class="border-dashed my-8">

            {# Breach Questions Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>27. As a result of the breach have you felt:</label>
                    {# Distressed Block #}
                    <div class="distressed_block">

                        {# Breach Question A Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionA) }}
                                {{ form_widget(form.breachQuestionA) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionA) }}</div>
                            </div>
                        </div>
                        {# /Breach Question A Form Row #}

                        {# Breach Question A Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionA_example) }}
                                {{ form_widget(form.breachQuestionA_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionA_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question A Example Form Row #}

                        <hr>

                        {# Breach Question B Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionB) }}
                                {{ form_widget(form.breachQuestionB) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionB) }}</div>
                            </div>
                        </div>
                        {# /Breach Question B Form Row #}

                        {# Breach Question B Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionB_example) }}
                                {{ form_widget(form.breachQuestionB_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionB_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question B Example Form Row #}

                        <hr>

                        {# Breach Question C Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionC) }}
                                {{ form_widget(form.breachQuestionC) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionC) }}</div>
                            </div>
                        </div>
                        {# /Breach Question C Form Row #}

                        {# Breach Question C Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionC_example) }}
                                {{ form_widget(form.breachQuestionC_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionC_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question C Example Form Row #}

                        <hr>

                        {# Breach Question D Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionD) }}
                                {{ form_widget(form.breachQuestionD) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionD) }}</div>
                            </div>
                        </div>
                        {# /Breach Question D Form Row #}

                        {# Breach Question D Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionD_example) }}
                                {{ form_widget(form.breachQuestionD_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionD_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question D Example Form Row #}

                        <hr>

                        {# Breach Question E Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionE) }}
                                {{ form_widget(form.breachQuestionE) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionE) }}</div>
                            </div>
                        </div>
                        {# /Breach Question E Form Row #}

                        {# Breach Question E Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionE_example) }}
                                {{ form_widget(form.breachQuestionE_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionE_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question E Example Form Row #}

                        <hr>

                        {# Breach Question F Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionF) }}
                                {{ form_widget(form.breachQuestionF) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionF) }}</div>
                            </div>
                        </div>
                        {# /Breach Question F Form Row #}

                        {# Breach Question F Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionF_example) }}
                                {{ form_widget(form.breachQuestionF_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionF_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question F Example Form Row #}

                        <hr>

                        {# Breach Question G Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12 mt-3">
                                {{ form_label(form.breachQuestionG) }}
                                {{ form_widget(form.breachQuestionG) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionG) }}</div>
                            </div>
                        </div>
                        {# /Breach Question G Form Row #}

                        {# Breach Question G Example Form Row #}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.breachQuestionG_example) }}
                                {{ form_widget(form.breachQuestionG_example) }}
                                <div class="error_message">{{ form_errors(form.breachQuestionG_example) }}</div>
                            </div>
                        </div>
                        {# /Breach Question G Example Form Row #}

                    </div>
                    {# /Distressed Block #}
                </div>
            </div>
            {# /Breach Questions Form Row #}

            <hr class="border-dashed my-8">

            {# Diagnosed Conditions Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.diagnosedConditionsNew) }}
                    {{ form_widget(form.diagnosedConditionsNew) }}
                    <div class="error_message">{{ form_errors(form.diagnosedConditionsNew) }}</div>
                </div>
            </div>
            {# /Diagnosed Conditions Form Row #}

            {# DIAGNOSED CONDITIONS BLOCK #}
            <div id="diagnosed_conditions_block"{% if form.vars.data.diagnosedConditionsNew != 'Other' %} class="display_none"{% endif %}>

                {# Diagnosed Condition Comment Form Row #}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form_label(form.diagnosedConditionsExample) }}
                        {{ form_widget(form.diagnosedConditionsExample) }}
                        <div class="error_message">{{ form_errors(form.diagnosedConditionsExample) }}</div>
                    </div>
                </div>
                {# /Diagnosed Condition Comment Form Row #}

            </div>
            {# /DIAGNOSED CONDITIONS BLOCK #}

            <hr class="border-dashed my-8">

            {# Impact Condition Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.impactConditionNew) }}
                    {{ form_widget(form.impactConditionNew) }}
                    <div class="error_message">{{ form_errors(form.impactConditionNew) }}</div>
                </div>
            </div>
            {# /Impact Condition Form Row #}

            {# IMPACT CONDITION BLOCK #}
            <div id="impact_condition_block"{% if form.vars.data.impactConditionNew != 'Symptoms were exacerbated' %} class="display_none"{% endif %}>

                {# Impact Condition Comment Form Row #}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form_label(form.impactConditionExample) }}
                        {{ form_widget(form.impactConditionExample) }}
                        <div class="error_message">{{ form_errors(form.impactConditionExample) }}</div>
                    </div>
                </div>
                {# /Impact Condition Comment Form Row #}

            </div>
            {# /IMPACT CONDITION BLOCK #}

            <hr class="border-dashed my-8">

            {# Steps Taken Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.stepsTaken) }}
                </div>
                <div class="form-group col-md-12">
                    {% for Steps in form.stepsTaken %}
                        <div class="custom-control custom-checkbox steps mb-3 ml-5">
                            {{ form_widget(Steps, {
                                attr: {
                                    'class': 'custom-control-input'
                                }
                            }) }} <label class="custom-control-label" for="{{ Steps.vars.id }}">{{ Steps.vars.label }}</label>
                        </div>
                    {% endfor %}
                    <div class="error_message">{{ form_errors(form.stepsTaken) }}</div>
                </div>
            </div>
            {# /Steps Taken Form Row #}

            {# STEPS TAKEN BLOCK #}
            <div id="steps_taken_block" class="display_none">

                {# Steps Taken "Other" Comment Form Row #}
                <div class="form-row">
                    <div class="form-group col-md-11 ml-5">
                        {{ form_label(form.stepsTakenExample) }}
                        {{ form_widget(form.stepsTakenExample) }}
                        <div class="error_message">{{ form_errors(form.stepsTakenExample) }}</div>
                    </div>
                </div>
                {# /Steps Taken "Other" Comment Form Row #}

            </div>
            {# /STEPS TAKEN BLOCK #}

            <hr class="border-dashed my-8">

            {# Steps Taken Details Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.stepsTakenDetails) }}
                    {{ form_widget(form.stepsTakenDetails) }}
                    <div class="error_message">{{ form_errors(form.stepsTakenDetails) }}</div>
                </div>
            </div>
            {# /Steps Taken Details Form Row #}

            <hr class="border-dashed my-8">

            {# Steps Taken Upload Files Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.stepsTakenFiles) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_widget(form.stepsTakenFiles) }}
                    <div class="error_message">{{ form_errors(form.stepsTakenFiles) }}</div>
                </div>

                {# IF FILES HAVE BEEN UPLOADED DISPLAY THEM HERE #}
                {% if form.vars.data.stepsTakenFilesPath != NULL %}
                    <div class="form-group col-md-12">
                        <p>
                            <b>Uploaded Files:</b><br>
                            {% for key,value in form.vars.data.stepsTakenFilesPath %}
                                {{ value }}<br>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
                {# /IF FILES HAVE BEEN UPLOADED DISPLAY THEM HERE #}

            </div>
            {# /Steps Taken Upload Files Form Row #}

            <hr class="border-dashed my-8">

            {# Adverse Consequences Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.adverseConsequences) }}
                </div>
                <div class="form-group col-md-12">
                    {% for Consequences in form.adverseConsequences %}
                        <div class="custom-control custom-checkbox consequences mb-3 ml-5">
                            {{ form_widget(Consequences, {
                                attr: {
                                    'class': 'custom-control-input'
                                }
                            }) }} <label class="custom-control-label" for="{{ Consequences.vars.id }}">{{ Consequences.vars.label }}</label>
                        </div>
                    {% endfor %}
                    <div class="error_message">{{ form_errors(form.adverseConsequences) }}</div>
                </div>
            </div>
            {# /Adverse Consequences Form Row #}

            {# CONSEQUENCES BLOCK #}
            <div id="adverse_consequences_block" class="display_none">

                {# Adverse Consequences Example Form Row #}
                <div class="form-row">
                    <div class="form-group col-md-11 ml-5">
                        {{ form_label(form.adverseConsequencesExample) }}
                        {{ form_widget(form.adverseConsequencesExample) }}
                        <div class="error_message">{{ form_errors(form.adverseConsequencesExample) }}</div>
                    </div>
                </div>
                {# /Adverse Consequences Example Form Row #}

            </div>
            {# /CONSEQUENCES BLOCK #}

            <hr class="border-dashed my-8">

            {# Adverse Consequences Details Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.adverseConsequencesDetails) }}
                    {{ form_widget(form.adverseConsequencesDetails) }}
                    <div class="error_message">{{ form_errors(form.adverseConsequencesDetails) }}</div>
                </div>
            </div>
            {# /Adverse Consequences Details Form Row #}

            <hr class="border-dashed my-8">

            {# Adverse Consequences Upload Files Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.adverseConsequencesFiles) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_widget(form.adverseConsequencesFiles) }}
                    <div class="error_message">{{ form_errors(form.adverseConsequencesFiles) }}</div>
                </div>

                {# IF ANY FILES HAVE BEEN UPLOADED DISPLAY THEM HERE #}
                {% if form.vars.data.adverseConsequencesFilesPath != NULL %}
                    <div class="form-group col-md-12">
                        <p>
                            <b>Uploaded Files:</b><br>
                            {% for key,value in form.vars.data.adverseConsequencesFilesPath %}
                                {{ value }}<br>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
                {# /IF ANY FILES HAVE BEEN UPLOADED DISPLAY THEM HERE #}

            </div>
            {# Adverse Consequences Upload Files Form Row #}

            <hr class="border-dashed my-8">

            {# Additional Information Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.additionalInformation) }}
                    {{ form_widget(form.additionalInformation) }}
                    <div class="error_message">{{ form_errors(form.additionalInformation) }}</div>
                </div>
            </div>
            {# /Additional Information Form Row #}

            <hr class="border-dashed my-8">

            {# Lead Test Claimant Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.leadTestClaimant) }}
                    {{ form_widget(form.leadTestClaimant) }}
                    <div class="error_message">{{ form_errors(form.leadTestClaimant) }}</div>
                </div>
            </div>
            {# /Lead Test Claimant Form Row #}


            {# Submit Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-outline-info btn-lg" title="complete the process...">Submit &amp; Complete <i class="icon icon-forward"></i></button>
                </div>
            </div>
            {# /Submit Form Row #}

            {{ form_end(form) }}

        </div>
        {# /Card #}
    </div>
    {# /Grid #}

{% endblock %}

