{% extends 'base.html.twig' %}

{% block title %}{{ header_text }} - BA OnBoarding - Your Lawyers Ltd{% endblock %}

{% block body %}
    {{ include('blocks/title_breadcrumb.html.twig') }}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'forms-sample', 'novalidate': 'novalidate'}}) }}
                    <div class="form-group mb-30">
                        {{ form_label(form.personalDetails) }}
                        {{ form_widget(form.personalDetails) }}
                        <div class="error_message">{{ form_errors(form.personalDetails) }}</div>
                    </div>
                    <div class="form-group mb-30">
                        {{ form_label(form.emotionsExperienced)}}
                        {% for Emotions in form.emotionsExperienced %}
                            <div class="border-checkbox-section ml-20">
                                {{ form_widget(Emotions) }} <label>{{ Emotions.vars.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary mr-2 p5">Submit &amp; Continue <i class="ik ik-chevrons-right"></i></button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
