{% extends 'base.html.twig' %}

{% block title %}{{ header_text }}{% endblock %}

{% block body %}

    {# Grid #}
    <div class="col-12">
        {# Page Header #}
        <div class="dt-page__header">
            <h1 class="dt-page__title">{{ header_text }}</h1>
            <span>The British Airways OnBoarding App.</span>
        </div>
        {# /Page Header #}
    </div>
    {# /Grid #}

    {% for message in app.session.flashBag.get('page_success') %}
        <div class="dt-card__body">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Marvelous!</strong> You completed the Financial Loss section. Let's keep going...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}

    {# Grid #}
    <div class="col-12">
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100">Step 7 of 10
            </div>
        </div>
    </div>
    {# /Grid #}

    {# Grid #}
    <div class="col-12">
        {# Card #}
        <div class="dt-card">

            {{ form_start(form, {'attr': {'id': 'ba_form'}}) }}

            {# Reimbursed For Financial Loss Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.financialLossSuffered) }}
                    {{ form_widget(form.financialLossSuffered) }}
                    <div class="error_message">{{ form_errors(form.financialLossSuffered) }}</div>
                </div>
            </div>
            {# /Reimbursed For Financial Loss Form Row #}

            {# REIMBURSEMENTS BLOCK #}
            <div id="reimbursements_block"{% if form.vars.data.financialLossSuffered != 'YES' %} class="display_none"{% endif %}>
                <div class="block_body">

                    {# Who Provided Reimbursement Form Row #}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(form.provider) }}
                            {{ form_widget(form.provider) }}
                            <div class="error_message">{{ form_errors(form.provider) }}</div>
                        </div>
                    </div>
                    {# /Who Provided Reimbursement Form Row #}

                    {# Amount Reimbursed Form Row #}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(form.amountReimbursed) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> &pound; </span>
                                </div>
                                {{ form_widget(form.amountReimbursed) }}
                            </div>
                            <div class="error_message">{{ form_errors(form.amountReimbursed) }}</div>
                        </div>
                    </div>
                    {# /Amount Reimbursed Form Row #}

                    {# Reimbursement Upload Files Form Row #}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(form.reimbursementFiles) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_widget(form.reimbursementFiles) }}
                            <div class="error_message">{{ form_errors(form.reimbursementFiles) }}</div>
                        </div>
                        <div class="form-group col-md-12">
                            {% if form.vars.data.reimbursementFilesPath != NULL %}
                                <p>
                                    <b>Uploaded Files:</b><br>
                                    {% for key,value in form.vars.data.reimbursementFilesPath %}
                                        {{ value }}<br>
                                    {% endfor %}
                                </p>
                                <hr class="border-dashed my-8">
                            {% endif %}
                        </div>
                    </div>
                    {# /Reimbursement Upload Files Form Row #}

                </div>
            </div>
            {# /REIMBURSEMENTS BLOCK #}

            {# Submit Form Row #}
            <div class="form-row">
                <div class="form-group col-md-12 text-right">
                    <button type="submit" class="btn btn-outline-info btn-lg" title="continue to the next stage...">Submit &amp; Continue <i class="icon icon-forward"></i></button>
                </div>
            </div>
            {# /Submit Form Row #}

            {{ form_end(form) }}

        </div>
        {# /Card #}
    </div>
    {# /Grid #}

{% endblock %}
